.wrapper {
    padding: 0; /* remove default as we use full height layout */
    height: 100vh; /* fill viewport */
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 300px;
    border-right: 1px solid #ddd;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebarHeader {
    padding: 12px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.main {
    flex: 1;
    height: 100%;
}
